

/* plot-emissions.component.css */

.container {
  width: 430px; 
  height: 330px; 
  background-color: white;
  border-radius: 2%; /*round design*/
  overflow: visible; 
  position: relative;
  margin-left: 35px;
}

.chart-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
