/* src/app/header/header.component.css */

.header-container {
    padding: 20px;
    width: 100%;
    background-color: #ffffff; /* Hintergrundfarbe nach Bedarf anpassen */
  }
  
  .header-title {
    color: #0095FF;
    font-size: 24px;
    margin: 0;
    font-family:   'Segoe UI'
    ;
  }
  
  .header-slogan {
    color: black; /* Farbe des Slogans auf Schwarz ändern */
    font-size: 18px;
    margin: 0;
    text-align: left; /* Text linksbündig ausrichten */
  }
  