<div class="container-fluid">
  <div class="header mb-2">
    <app-header></app-header>
  </div>
  <div class="info-container" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
    The emissions of your company are distributed in different scopes, click here for more information.
    <span class="info-icon" title="Click here for more information">&#9432;</span>
  </div>
  <br/>
  <div class="info-container" style="margin-bottom: 20px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
    Here, we consider the emissions of your products and materials.
  </div>

  <div class="select-product col-3 my-4">
    <app-product-choice/>
  </div>

  <div class="plot-container mb-4 col-12">
    <div class="row">
    <div class="col">
      <app-plot-emissions/>
    </div>
    <div class="col">
      <app-plot-costs/>
    </div>
    <div class="col">
      <app-plot-roi/>
    </div>    
  </div>
</div>

  <div class="white_box_table mt-4">
    <app-table-materials/>
  </div>

</div>