<div class="container-fluid">
  <div class="header mb-2">
    <app-header></app-header>
  </div>
 


  <div class="select-product">
    <app-product-choice />
  </div>

  <div class="plot-container mb-4 col-12">
    <div class="row">
      <div class="col">
          <app-plot-single-product></app-plot-single-product>
      </div>
      <div class="col">
        <app-plot-emissions />
      </div>
      <div class="col">
        <app-plot-costs />
      </div>
    </div>
  </div>

  <div class="col-11 col-lg-12 mb-4">
    <div class="px-3">
      <div class="white_box_table mt-4">
        <app-table-materials ></app-table-materials>
      </div>
    </div>
  </div>
</div>


