<!-- table-materials.component.html -->
<table>

  <thead>
    <tr>
      <th>Material</th>
      <th>Measure</th>
      <th>Year</th>
      <th>Percent</th>
      <th></th> <!-- Neue Spalte für den Löschen-Button -->
    </tr>
  </thead>
  <tbody>
    
    <ng-container *ngFor="let row of table; let i = index">
      <tr>
        <td>
          <select [(ngModel)]="row.material" [disabled]="!row.editable" (change)="saveSelectedValues(row)" required [style.pointer-events]="row.editable ? 'auto' : 'none'" class="disabled-dropdown">
  
            <option value="" disabled>Select Material</option>
            <option value="Aluminium">Aluminium</option>
            <option value="Steel">Steel</option>
            <option value="Other">Other</option>
          </select>
        </td>
        <td>
          <select [(ngModel)]="row.measure" [disabled]="!row.editable" (change)="saveSelectedValues(row)" required [style.pointer-events]="row.editable ? 'auto' : 'none'" class="disabled-dropdown">
            <!-- Optionen hier einfügen -->
        
            <option value="" disabled>Select Measure</option>
            <option value="Switch technology">Switch technology</option>
            <option value="Reduce waste">Reduce waste</option>
            <option value="Green compounds">Green compounds</option>
          </select>
        </td>
        <td>
          <select [(ngModel)]="row.year" [disabled]="!row.editable" (change)="saveSelectedValues(row)" required [style.pointer-events]="row.editable ? 'auto' : 'none'" class="disabled-dropdown">>
            <!-- Optionen hier einfügen -->
                    <option value="" disabled>Select Year</option>
            <option *ngFor="let year of years" [value]="year">{{ year }}</option>
          </select>
        </td>
        <td>
          <select [(ngModel)]="row.percent" [disabled]="!row.editable" (change)="saveSelectedValues(row)" required [style.pointer-events]="row.editable ? 'auto' : 'none'" class="disabled-dropdown">>
            <!-- Optionen hier einfügen -->
                    <option value="" disabled>Select Percent</option>
            <option *ngFor="let percent of percents" [value]="percent">{{ percent }}%</option>
          </select>
        </td>
        <td (click)="deleteRow(i)">
          <i class="bi bi-trash"></i>
        </td>
      </tr>
    </ng-container>
    <tr>
      <td>
        <select [(ngModel)]='currentRow.material' (change)="saveSelectedValues(currentRow)" required>
          <option value="" disabled>Select Material</option>
          <option value="Aluminium">Aluminium</option>
          <option value="Steel">Steel</option>
          <option value="Other">Other</option>
        </select>
      </td>
      <td>
        <select [(ngModel)]="currentRow.measure" (change)="saveSelectedValues(currentRow)" required>
          <option value="" disabled>Select Measure</option>
          <option value="Switch technology">Switch technology</option>
          <option value="Reduce waste">Reduce waste</option>
          <option value="Green compounds">Green compounds</option>
        </select>
      </td>
      <td>
        <select [(ngModel)]="currentRow.year" (change)="saveSelectedValues(currentRow)" required>
          <option value="" disabled>Select Year</option>
          <option *ngFor="let year of years" [value]="year">{{ year }}</option>
        </select>
      </td>
      <td>
        <select [(ngModel)]="currentRow.percent" (change)="saveSelectedValues(currentRow)" required>
          <option value="" disabled>Select Percent</option>
          <option *ngFor="let percent of percents" [value]="percent">{{ percent }}%</option>
        </select>
      </td>
      <td>
      </td>
    </tr>
    <tr>
      <td colspan="5" style="text-align: center;">
        <button (click)="addRow()" [disabled]="!isCurrentRowValid()">+</button>
      </td>
    </tr>
  </tbody>
</table>
 
